<!DOCTYPE html>
<html>
  <head>
    <title>Pizza Pie Puzzler</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="headerbox">
      <a href="/"><img src="/resource/logo.png"/></a>
      <br/>
      {% if logged_in %}
      
	<a href="/hunts/ppp/puzzles/main">Puzzle Dashboard</a> |
	<a href="/hunts/ppp/puzzles/errata">Errata</a> |
	<a href="/logout">Logout</a>
      
      {% else %}
	<a href="/">Main</a> |
	<a href="/login">Login</a> |
	<a href="/register">Register</a>
      {% endif %}
    </div>
    <div id="mainbox">
      <h2>
	{% block title %}{% endblock %}
      </h2>
	{% if errors %}
	<div id = "errors">
	  <p> The following errors occurred: </p>
	  <ul>
	  {% for error in errors %}
	    <li>{{ error }}</li>
	  {% endfor %}
	  </ul>
	</div>
	{% endif %}
	{% block content %}{% endblock %}
    </div>
  </body>
</html>
