<script type="text/javascript">
var target = 0;
function setTarget(trg) {
    $("#trg" + battle_target).css("visibility", "hidden");
    $("#trg" + trg).css("visibility", "visible");

    battle_target = trg;
}
</script>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" valign="top">
        <table border="0" cellpadding="5" cellspacing="0">
            <tr>
                {% for e in enemy_units %}
                <td align="center" valign="top">
		    <div id="e_{{loop.index0}}" class="br">
		    {% if e.hp > 0 %}
		    <a href="javascript:;" onclick="setTarget({{loop.index0}}); return false;">
		    {% endif %}
                    <img src="/resource/quest/enemy/{{e.name}}.png" class="pa" style="z-index: 0;" /></a>
		    {% if e.hp > 0 %}
		    <a href="javascript:;" onclick="setTarget({{loop.index0}}); return false;">
		    {% endif %}
		    <img src="/resource/quest/target.png" id="trg{{loop.index0}}" class="pa" style="z-index: 8; visibility: hidden;" />
		    </a>
		    </div>
		    <br>
                    {{e.name}}
                    <br>
                    {{e.hp}} / {{e.maxhp}}</td> 
                {% endfor %}
            </tr>
        </table>
    </td>
    </tr>
    <tr>
        <td height="1" bgcolor="#909090"></td>
    </tr>
    <tr><td>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
        <td>
            current player<br>
	    {% if in_progress %}
            <a id="btn_atk" href="javascript:;">attack!</a><br>
            <a id="btn_flee" href="javascript:;">flee!</a><br>
            <script type="text/javascript">
                document.getElementById("btn_atk").addEventListener("click", function() { battle_action("attack"); });
                document.getElementById("btn_flee").addEventListener("click", function() { battle_action("flee"); });
            </script>
	    {% else %}
	    <a id="btn_end" href="javascript:;">end fight</a><br>
	    <script type="text/javascript">
		document.getElementById("btn_end").addEventListener("click", function() { battle_action("end"); });
	    </script>
	    {% endif %}
        </td>
        <td width="1" bgcolor="#909090"></td>
        <td valign="top">
            spells<br>
        </td>
        <td width="1" bgcolor="#909090"></td>
        <td valign="top">
            items<br>
        </td>
</tr></table>
    </td>
    </tr>
    <tr>
        <td height="1" bgcolor="#909090"></td>
    <tr>
    <tr>
        <td align="center" valign="bottom">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    {% for p in player_units %}
                    <td>{{p.name}}</td>
                    {% endfor %}
                </tr>
            </table>
    </td></tr>
</table>
