{% extends "base.html" %}
{% block title %} Edit a Hunt {% endblock %}
{% block content %} 
  <br>
  <form action="edit_submit" method="post" enctype="multipart/form-data">
  Title: <input type="form" name="title" value="{{hunt.title}}"/>
  <br>
  <input type="submit" value="Submit Hunt" />
  </form>
  <div id="puzzle_display">
  <p>
  Puzzles/pages belonging to this hunt:
  </p>
  <ul>
  {% for puzzle in puzzles %}
  <li>
  <a href = 'puzzles/{{puzzle.short_code}}'>{{puzzle.title}} ({{puzzle.short_code}})</a>
  </li>
  {% endfor %}
  </ul>
  </div>
{% endblock %}
