{% extends "base.html" %}
{% block title %} Edit a Hunt {% endblock %}
{% block content %} 
  <script type="text/javascript" src="/resource/jquery.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
      $("#plink").click(function() {
		    $.post('/hunts/{{hunt.short_code}}/edit_add',
			   {puzzle: document.getElementById("plink_name").value},
			   refreshPuzzleList); });

      function refreshPuzzleList(response) {
	var d = $.parseJSON(response);
	//change me later
	document.getElementById("puzzle_display").innerHTML +=
	"<div id=\"pd_" + d.short_code + "\">" + d.title + " (" +
	d.short_code + ")</div>";
      }
  });
  </script><br>
  <form action="edit_submit" method="post" enctype="multipart/form-data">
  Title: <input type="form" name="title" value="{{hunt.title}}"/>
  <br>
  <input type="submit" value="Submit Hunt" />
  </form>
  <div id="puzzle_display">
  {% for puzzle in puzzles %}
  <div id="pd_{{ puzzle.short_code }}">{{puzzle.title}} ({{puzzle.short_code}})</div>
  {% endfor %}
  </div>
  <input type="form" name="new_plink" id="plink_name"/>
  <input type="submit" value="+" id="plink" />
{% endblock %}
