{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %} 
  <div id = 'message'>
      <p>
        Login here:
      </p>
    </div>
    <div id = 'login_form'>
      <form method="post">
        <label>Username</label><input name = "username">
        <br>
        <label>Password</label><input type = "password" name = "password">
        <br>
        <input type = "submit">
      </form>
    </div>
    <div id = 'signup'>
      <p>
        Don't have an account? Sign up <a href = 'register'>here</a>!
      </p>
    </div>
{% endblock %}
