{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %} 
  <div id = 'message'>
      <p>
        Login here:
      </p>
    </div>
    <div id = 'login_form'>
      <form method="post">
        <table>
          <tr>
            <td><label>Username</label></td>
            <td><input name = "username"></td>
          </tr>
          <tr>
            <td><label>Password</label></td>
            <td><input type = "password" name = "password"></td>
          </tr>
        </table>
        <input type = "submit">
      </form>
    </div>
    <div id = 'signup'>
      <p>
        Don't have an account? Sign up <a href = 'register'>here</a>!
      </p>
    </div>
{% endblock %}
