{% extends "base.html" %}
{% block title %} Edit a Puzzle {% endblock %}
{% block content %} 
  <form action="edit_submit" method="post" enctype="multipart/form-data">
  Title: <input type="form" name="title" value="{{puzzle.title}}"/>
  <br>
  Enter your text/HTML below...<br>
  <div id="text"> 
      <textarea id="input" name="input" rows="15" cols="60" style="width: 80%">{{puzzle.text | safe}}</textarea>
  </div>
  or upload an HTML document: 
  <input type="file" name="uploadhtml" />
  <br>
  Answer: <input type="form" name="answer" value="{{puzzle.answer}}" />
  <br>
  <input type="submit" value="Submit Puzzle" />
  </form>
{% endblock %}
