{% extends "base.html" %}
{% block title %} Puzzles {% endblock %}
{% block content %} 
  <div id = 'message'>
    <p>
      The following puzzles are currently available. 
    </p>
  </div>
  <div id = 'puzzles'>
    <ul>
    {% for puzzle, status in puzzle_info %}
      <li><a href = 'puzzles/{{puzzle.short_code}}/p'> {{ puzzle.title }}</a>{% if status %} (solved!){% endif %} </li>
    {% endfor %}
    </ul>
  </div>
  <br>
  ...or <a href="/puzzle_submit">submit a puzzle</a>
{% endblock %}
