{% extends "base.html" %}
{% block title %}  {{puzzle.title}}{% if up_info.solved %} (solved!) {% endif %}{% endblock %}
{% block content %} 
    {% if pdf %}
    <div id = 'pdf'>
      <a href="/pdfs?puzzle={{ puzzle.short_code }}">download as PDF</a>
    </div>
    {% endif %}
    {% if puzzle.ptype == 'text' %}
    <div id = 'text'>
      <pre>{{puzzle.text}}</pre>
    </div>
    {% elif puzzle.ptype == 'html' %}
    <div id = 'html'>
      {{puzzle.text | safe}}
    </div>
    {% endif %}
    <div id = 'answer'>
      <br>
      <form action="/puzzles/{{ puzzle.short_code }}/submit" method="post">
      <input type="text" name="answer">
      <input type="submit" value="Submit">
      </form>
      {% if user.is_admin == 1 and not puzzle.approved %}
        <form action="/puzzles/{{ puzzle.short_code }}/approve" method="post">
        <input type="submit" value="Approve">
        </form>
      {% endif %}
    </div>
{% endblock %}
