{% extends "base.html" %}
{% block title %}  {{puzzle.title}}
{% if up_info.author %}
  <a href = '/puzzles/{{ puzzle.short_code }}/edit'> [edit] </a>
{% else %}
{% if up_info.solved %} (solved!) {% endif %}
{% endif %}
{% endblock %}
{% block content %} 
    <div id = 'text'>
      {{rend_text | safe}}
    </div>
    {% if puzzle.is_puzzle %}
      <hr/>
      {% if up_info.solved %} 
      <div id = 'answer' style="color:#00CF00">
      <p>
      You have solved this puzzle. The answer is <em>{{ puzzle.answer }}</em>.
      </p>
      </div>
      {% else %}
      <div id = 'answer'>
	<br>
	{% if hunt %}
	<form action="/hunts/{{ hunt.short_code }}/puzzles/{{ puzzle.short_code }}/submit" method="post">
	{% else %}
	<form action="/puzzles/{{ puzzle.short_code }}/submit" method="post">
	{% endif %}
	Answer: <input type="text" name="answer">
	<input type="submit" value="Submit">
	</form>
      </div>
      {% endif %}
      {% if user.is_admin == 1 and not puzzle.approved %}
      <div id = 'approve'>
	<form action="/puzzles/{{ puzzle.short_code }}/approve" method="post">
	<input type="submit" value="Approve">
	</form>
      </div>
      {% endif %}
    {% endif %}
{% endblock %}