{% extends "base.html" %}
{% block title %}  {{puzzle.title}}
{% if up_info.author %}
  <a href = '/puzzles/{{ puzzle.short_code }}/edit'> [edit] </a>
{% else %}
{% if up_info.solved %} (solved!) {% endif %}
{% endif %}
{% endblock %}
{% block content %} 
    <div id = 'text'>
      {{puzzle.text | safe}}
    </div>
    {% if up_info.solved and puzzle.is_puzzle %} 
    <div id = 'answer' style="color:#00CF00">
    <p>
    You have solved this puzzle. The answer is <em>{{ puzzle.answer }}</em>.
    </p>
    </div>
    {% else %}
    <div id = 'answer'>
      <br>
      <form action="/puzzles/{{ puzzle.short_code }}/submit" method="post">
      <input type="text" name="answer">
      <input type="submit" value="Submit">
      </form>
    </div>
    {% endif %}
    {% if user.is_admin == 1 and not puzzle.approved %}
    <div id = 'approve'>
      <form action="/puzzles/{{ puzzle.short_code }}/approve" method="post">
      <input type="submit" value="Approve">
      </form>
    </div>
    {% endif %}
{% endblock %}