{% extends "base.html" %}
{% block title %} Submit a Puzzle {% endblock %}
{% block content %} 
  <br>
  <form action="/puzzle_submit/submit" method="post" enctype="multipart/form-data">
  Title: <input type="form" name="title" />
  <br>
  <input type="radio" name="ptype" value="text" checked> Text
  <input type="radio" name="ptype" value="html"> HTML <br>
  <textarea rows="30" cols="60" name="text">Type your puzzle here</textarea>
  <br>
  Answer: <input type="form" name="answer" />
  <br>
  <input type="submit" value="Submit Puzzle" />
  </form>
  <br>
  <hr>
  Upload a file:
  <form action="/puzzle_submit/file_submit" method="post" enctype="multipart/form-data">
  <input type="file" name="pfile" />
  <input type="submit" value="Submit File" />
  </form>
{% endblock %}
