{% extends "base.html" %}
{% block title %} Submit a Puzzle {% endblock %}
{% block content %} 
  {% for image in images %}
    <img src="/img_uploads?id={{ image.key().id() }}" /><br>
  </form>
  {% endfor %}
  <br>
  <form action="/puzzle_submit/submit" method="post" enctype="multipart/form-data">
  Title: <input type="form" name="title" />
  <br>
  <input type="radio" name="ptype" value="text" checked> Text
  <input type="radio" name="ptype" value="html"> HTML <br>
  <textarea rows="30" cols="60" name="text">Type your puzzle here</textarea>
  <br>
  Answer: <input type="form" name="answer" />
  <br>
  Upload a PDF? <input type="file" name="pdf" />
  <input type="submit" value="Submit Puzzle" />
  </form>
  <br>
  <form action="/puzzle_submit/img_submit" method="post" enctype="multipart/form-data">
  <input type="file" name="img" />
  <input type="submit" value="Submit Image" />
  </form>
{% endblock %}
