{% extends "base.html" %}
{% block title %} Registration {% endblock %}
{% block content %} 
<div id = 'message'>
  <p>
    If you don't already have an account, please sign up here:
  </p>
</div>
<div id = 'register_form'>
  <form method="post">
    <table>
      <tr>
        <td>
          <label>Username</label>
        </td>
        <td>
          <input name = "username">
        </td>
      </tr>
      <tr>
        <td>
          <label>Password</label>
        </td>
        <td>
          <input type = "password" name = "password">
        </td>
      </tr>
      <tr>
        <td>
          <label>Verify</label>
        </td>
        <td>
          <input type = "password" name = "verify">
        </td>
      </tr>
      <tr>
        <td>
          <label>Email</label>
        </td>
        <td>
          <input name = "email">
        </td>
      </tr>
    </table>
    <input type = "submit">
    
  </form>
</div>
{% endblock %}