{% extends "base.html" %}
{% block title %} Registration {% endblock %}
{% block content %} 
<div id = 'message'>
  <p>
    If you don't already have an account, please sign up here:
  </p>
</div>
<div id = 'register_form'>
  <form method="post">
    <table>
      <tr>
        <td>
          <label>Team Name</label>
        </td>
        <td>
          <input name = "teamname">
        </td>
      </tr>
      <tr>
        <td>
          <label>Team Username</label>
        </td>
        <td>
          <input name = "username">
        </td>
        <td>
	  <label>(3 - 20 alphanumeric characters, no spaces)</label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Team Password</label>
        </td>
        <td>
          <input type = "password" name = "password">
        </td>
        <td>
	  <label>(3 - 20 alphanumeric characters, no spaces)</label>
        </td>
      </tr>
      <tr>
        <td>
          <label>Verify Password</label>
        </td>
        <td>
          <input type = "password" name = "verify">
        </td>
      </tr>
    </table>
    <input type = "submit">
    
  </form>
</div>
{% endblock %}